@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

body {
  font-family: 'Quicksand', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-image: url(https://source.unsplash.com/1600x900/?rainy);
}
.card {
  background: #262626d0;
  color: white;
  margin: 1rem;
  padding: 2rem;
  border-radius: 30px;
  width: 100%;
  max-width: 420px;
}
h1.temp {
  margin: 0;
}
.search {
  display: flex;
  align-items: center;
  justify-content: center;
}
button {
  background: #7c7c7c2b;
  color: white;
  margin: 0.5rem;
  border-radius: 50%;
  border: none;
  outline: none;
  height: 1.9rem;
  width: 1.9rem;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
button:hover {
  background: #7c7c7c6b;
}
input.search-bar {
  background: #7c7c7c2b;
  color: white;
  border: none;
  outline: none;
  padding: 0.4rem 1.5rem;
  border-radius: 20px;
  font-family: inherit;
  width: calc(100% - 80px);
}
